# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Django database
db.sqlite3
*.sqlite3

# Static & media (if generated during runtime)
staticfiles/
media/

# Python packaging
*.egg-info/
dist/
build/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log