django
djangorestframework
drf-spectacular
psycopg
langchain
langchain-google-genai
langgraph
python-dotenv
chromadb
langchain_core
langchain_ollama
torch
transformers
sentence-transformers
huggingface-hub
pdfplumber